*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop{
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.shop-product>ul>li{
    background: #fafafa;
    color: white;
}

.shop-content>div{
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;

}
.shop-content>div:first-child{
    margin-top: 50px;
}
.shop-content>div:hover{
    text-decoration: underline;
}
button{
    width: 100px;
    margin-top : 10px;
    cursor : pointer;
    border-radius: 50px;
    height: 30px;
}
li{
    list-style-type: none;;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    cursor : pointer;
}
li:hover{
    text-decoration: underline;
}
li:first-child{
    margin-top: 50px;
}
.shop-product>div>h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.shop-product>div>div{
    max-width: 60%;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    margin-right: 100px;
}
.shop-product>div>p{
    width: 300px;
}